/* simplebar */
.simplebar-wrapper {
  overflow: hidden;
}

.simplebar-content {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin: 0;
  padding: 0;
}

.residents .simplebar-scrollbar:before {
  background-color: #fff;
}

.event .simplebar-scrollbar:before {
  background-color: #000;
}

.simplebar-content:before,
.simplebar-content:after {
  display: none;
}

.about__list-business .simplebar-content {
  gap: 12px;
}

.person__list-nav .simplebar-content {
  gap: 20px;
}

.about__list-photo .simplebar-content {
  gap: 8px;
}

.simplebar-scrollbar.simplebar-visible:before {
  display: none;
}

@media (max-width: 460px) {
  .simplebar-content {
    gap: 16px;
  }
}

/* Select */

.choices {
  margin: 0;
  flex: auto 1 1;
  border-radius: 8px;
}

.choices__inner {
  display: flex;
  align-items: center;
  background-color: #5b5b5b;
  border-radius: 8px;
  border: none;
  padding: 10px 8px;
  transition: 0.3s ease background-color;
}

.choices:hover .choices__inner {
  background-color: #767676;
}

.choices[data-type*="select-one"]::after {
  background: url("../img/down-grey-icon.svg") no-repeat center center / cover;
  width: 20px;
  height: auto;
  aspect-ratio: 1 / 1;
  border: none;
  margin: auto;
  transform: translateY(-50%);
  transition: transform 0.4s ease;
}

.choices[data-type*="select-one"].is-open::after {
  /* margin-bottom: 0; */
  margin: auto;
  transform: rotate(-180deg) translateY(50%);
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  background-color: #4b4949;
  border: none;
}

.choices .choices__list.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices.is-focused.is-open .choices[data-type*="select-one"] .choices__inner {
  background-color: #4b4949;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
  background-color: #4b4949;
  color: #fff;
}

.choices__list--single {
  padding-right: 28px;
}

.choices__list--single .choices__item {
  opacity: 1;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  /* display: flex; */
  white-space: nowrap;
}
.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding: 8px;
  color: #ababab;
}

.is-open .choices__inner {
  border-radius: 8px;
  border-radius: 8px 8px 0 0;
  background-color: #4b4949;
}

/* .choices__placeholder {
  display: none;
} */

#my-select option[disabled] {
  display: none;
}

.choices[data-type*="select-one"] .choices__input {
  /* background-color: #5b5b5b; */
  padding-left: 30px;
  border: none;
  color: #fff;
  background: url("../img/search-grey-icon.svg") no-repeat 5% 50% / 15px,
    #5b5b5b;
}

/* .choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
} */

.is-selected {
  background: url("../img/ok-green-icon.svg") no-repeat 95% center / 20px;
}

.choices {
  min-width: 20%;
}

@media (max-width: 900px) {
  .choices {
    flex: 1;
  }
}

@media (max-width: 520px) {
  .choices {
    display: none;
  }
}

/* Tabs */
.tab-content {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.tab-content.active {
  display: flex;
  opacity: 1;
}

/* .tab-content.hidden {
  display: none;
  transition: opacity 0.5s ease; 
} */
