@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --color-text: #ababab;
  --color-text-red: #d8481a;
}

html {
  scroll-behavior: smooth;
}

body.lock-scroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
  color: #fff;
  background: radial-gradient(
      90.9% 71.56% at 88.4% 9%,
      rgba(71, 71, 71, 0.55) 0%,
      rgba(37, 37, 37, 0.55) 100%
    ),
    linear-gradient(0deg, #2b2b2b, #2b2b2b);
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

svg {
  width: 20px;
  height: auto;
  aspect-ratio: 1 / 1;
}

svg path {
  /* fill: #ababab; */
}

header {
  background-color: #2b2b2b;
}

main {
  padding: 64px 0;
}

footer {
  background-color: #191919;
}

.container {
  max-width: 1024px;
  /* padding: 0 88px; */
  margin: 0 auto;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 11px 0;
  /* padding: 11px 88px; */
  align-items: center;
}

.burger {
  display: none;
}

.header__logo-body {
}

.header__logo {
  display: inline-block;
  width: 210px;
  height: 47px;
  background: url("../img/logo-img.png") no-repeat center center / cover;
}

.header__nav {
}

.nav__list {
  display: flex;
  flex-direction: row;
}

.nav__item {
  border-bottom: 1px solid transparent;
  font-weight: 400;
  font-size: 16px;
}

.nav__link {
  padding: 10px 15px;
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav__item:hover .nav__link {
  color: #d8481a;
}

.header__lk {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 5px 0;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.header__lk-user {
  margin: 0;
}

.lk-img {
  width: 36px;
  height: 36px;
  border-radius: 4px;
}

/* tooltip */
.header__tooltip {
  position: relative;
  cursor: pointer;
}

.tooltipMenu {
  min-height: min-content;
  width: max-content;
}

.tooltipMenu__list {
  display: flex;
  flex-direction: column;
  bottom: 0;
}

.tooltipMenu ul li:hover {
  color: white;
  cursor: pointer;
  border-radius: 8px;
  background-color: #5b5b5b;
}

.tooltipMenu {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 100%;
  right: 0;
  min-width: 250px;
  background-color: #4b4949;
  border-radius: 8px;
}

.tooltipMenu__list {
  padding: 8px;
}

.tooltipMenu__item {
  padding: 8px;
}

.tooltipMenu__link {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  color: #ababab;
  font-size: 16px;
  text-decoration: none;
}

.tooltipMenu__link svg {
  display: block;
  width: 20px;
  height: auto;
  aspect-ratio: 1 / 1;
  fill: white;
}

.tooltipMenu__link svg path {
  fill: #ababab;
}

.tooltipMenu.tooltip-open {
  visibility: visible;
}

.tooltipMenu__wrapp,
.tooltipMenu__title,
.tooltipMenu__btn-cancel {
  display: none;
}
/* tooltip end*/

.title {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

/* footer */
.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 37px 0;
  /* padding: 37px 88px; */
}

.footer__link {
  font-size: 14px;
  text-decoration: none;
  color: #ababab;
  border-bottom: 1px solid transparent;
  transition: border 0.3s ease;
}

.footer__link:hover {
  border-bottom: 1px solid var(--color-text);
}

footer .left {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.footer__list {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.footer__item {
  width: 40px;
  height: 25px;
}

.footer__item:nth-child(1) {
  background: url("../img/visa-icon.png") no-repeat center center / cover;
}

.footer__item:nth-child(2) {
  background: url("../img/master-icon.png") no-repeat center center / cover;
}

.footer__item:nth-child(3) {
  background: url("../img/mir-icon.png") no-repeat center center / cover;
}

.footer__item:nth-child(4) {
  background: url("../img/tinkoff-icon.png") no-repeat center center / cover;
}

@media (max-width: 1400px) {
  .header__container {
    gap: 20px;
  }

  .nav__list {
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
}

@media (max-width: 1050px) {
  main {
    padding: 46px 0;
  }

  .container {
    padding: 30px 40px;
  }
}

@media (max-width: 790px) {
  body {
    background: #2b2b2b;
  }

  main {
    padding: 20px 0;
  }

  .header__container {
    z-index: 1000;
    position: relative;
  }
  .container {
    margin: 0 25px;
    padding: 30px 20px;
  }
  .header__lk-user {
    display: none;
  }

  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 140px 45px 20px;
    background-color: #333;
    color: white;
    transition: left 0.3s ease-in-out;
    z-index: -1;
  }

  .nav.visible {
    left: 0;
  }

  .nav__list--burger {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .nav .nav__link {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
  }

  /* Бургер меню */
  .burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 28px;
    height: 26px;
    z-index: 1000;
  }
  .burger::before,
  .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #fff;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #fff;
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }

  .burger.active::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
    background: linear-gradient(
      to right,
      #ffffff00 0%,
      #ffffff00 45%,
      #ffffff 45%,
      #ffffff 100%
    );
  }
  .burger.active::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
    background: linear-gradient(
      to right,
      #ffffff00 0%,
      #ffffff00 45%,
      #ffffff 45%,
      #ffffff 100%
    );
  }
  /* Конец бургер меню */
}

@media (max-width: 520px) {
  .container {
    margin: 0 30px;
    padding: 30px 0;
  }
}

@media (max-width: 460px) {
  main {
    padding: 15px 0 25px;
  }

  .container {
    margin: 0 15px;
    padding: 0;
  }

  .header__container {
    padding: 10px 0;
  }

  .header__logo-body {
    width: 170px;
  }

  .header__logo {
    width: 100%;
    object-fit: cover;
    background: url("../img/logo-img.png") no-repeat center center / contain;
  }

  .nav {
    padding: 80px 15px 20px;
  }

  /* tooltip */

  .tooltipMenu__img--mobile {
    display: block;
  }

  .tooltipMenu__wrapp,
  .tooltipMenu__title,
  .tooltipMenu__btn-cancel {
    display: block;
  }
  .exit {
    display: none;
  }

  .tooltipMenu {
    visibility: hidden;
    position: fixed;
    display: flex;
    top: auto;
    bottom: 0;
    max-width: 100%;
    width: 100%;
  }

  .tooltipMenu.tooltip-open {
    visibility: visible;
    flex-direction: column;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px 16px;
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
  }

  .tooltipMenu__title {
    margin: 0;
    margin-bottom: 24px;
    color: #2b2b2b;
    font-size: 20px;
  }

  .tooltipMenu__wrapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
  }

  .tooltipMenu__img--mobile {
    width: 13%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
  }
  .tooltipMenu__img--mobile img {
    width: 100%;
  }

  .tooltipMenu__name-wrapp {
  }

  .tooltipMenu__name {
    color: #2b2b2b;
    font-size: 16px;
    margin: 0;
    margin-bottom: 2px;
  }

  .tooltipMenu__awards-list {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  .tooltipMenu__awards-item {
    color: #5b5b5b;
    font-size: 14px;
  }

  .tooltipMenu__awards-item .awards-svg {
    width: 16px;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  .awards-item-last {
  }

  .tooltipMenu__btn-exit {
    margin-left: auto;
    padding: 0;
    font-size: 16px;
    color: #d8481a;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .tooltipMenu__link {
    color: #2b2b2b;
    gap: 10px;
  }
  .tooltipMenu__list .tooltipMenu__item {
    padding: 0;
  }
  .tooltipMenu__link svg path {
    fill: #d8481a;
  }

  .tooltipMenu__item:nth-child(1) .tooltipMenu__link {
  }
  .tooltipMenu__item:nth-child(2) .tooltipMenu__link {
  }
  .tooltipMenu__item:nth-child(3) .tooltipMenu__link {
  }
  .tooltipMenu__item:nth-child(4) .tooltipMenu__link {
  }
  .tooltipMenu__item:nth-child(5) .tooltipMenu__link {
  }
  .tooltipMenu__list {
    gap: 14px;
    margin-bottom: 24px;
  }

  .tooltipMenu__item {
  }
  .tooltipMenu__link {
  }
  .tooltipMenu__btn-cancel {
    padding: 17px;
    color: #5b5b5b;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
  }

  /* tooltip end */

  footer {
    background: transparent;
  }

  .footer__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 16px 0;
  }

  footer .right {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
