.svg {
  display: block;
  width: 20px;
  height: auto;
  aspect-ratio: 1;
}
.notFound-icon {
  background: url("../img/404-icon.svg") no-repeat center / contain;
}
.add-g-icon {
  background: url("../img/add-g-icon.svg") no-repeat center / contain;
}
.add-r-icon {
  background: url("../img/add-r-icon.svg") no-repeat center / contain;
}
.add-w-icon {
  background: url("../img/add-w-icon.svg") no-repeat center / contain;
}
.adv-g-icon {
  background: url("../img/adv-g-icon.svg") no-repeat center / contain;
}
.adv-l-icon {
  background: url("../img/adv-l-icon.svg") no-repeat center / contain;
}
.adv-w-icon {
  background: url("../img/adv-w-icon.svg") no-repeat center / contain;
}
.adv-r-icon {
  background: url("../img/adv-r-icon.svg") no-repeat center / contain;
}
.articles-r-icon {
  background: url("../img/articles-r-icon.svg") no-repeat center / contain;
}
.articles-l-icon {
  background: url("../img/articles-l-icon.svg") no-repeat center / contain;
}
.awards-icon-1 {
  background: url("../img/awards-icon-1.svg") no-repeat center / contain;
}
.awards-icon-2 {
  background: url("../img/awards-icon-2.svg") no-repeat center / contain;
}
.awards-icon-3 {
  background: url("../img/awards-icon-3.svg") no-repeat center / contain;
}
.awards-icon-4 {
  background: url("../img/awards-icon-4.svg") no-repeat center / contain;
}
.awards-icon-5 {
  background: url("../img/awards-icon-5.svg") no-repeat center / contain;
}
.awards-icon-6 {
  background: url("../img/awards-icon-6.svg") no-repeat center / contain;
}
.awards-icon-7 {
  background: url("../img/awards-icon-7.svg") no-repeat center / contain;
}
.back-icon {
  background: url("../img/back-icon.svg") no-repeat center / contain;
}
.back-w-icon {
  background: url("../img/back-w-icon.svg") no-repeat center / contain;
}
.bookmarks-g-icon {
  background: url("../img/bookmarks-g-icon.svg") no-repeat center / contain;
}
.bookmarks-l-icon {
  background: url("../img/bookmarks-l-icon.svg") no-repeat center / contain;
}
.bookmarks-r-icon {
  background: url("../img/bookmarks-r-icon.svg") no-repeat center / contain;
}
.business-g-icon {
  background: url("../img/business-g-icon.svg") no-repeat center / contain;
}
.business-l-icon {
  background: url("../img/business-l-icon.svg") no-repeat center / contain;
}
.business-r-icon {
  background: url("../img/business-r-icon.svg") no-repeat center / contain;
}
.calendar-l-icon {
  background: url("../img/calendar-l-icon.svg") no-repeat center / contain;
}
.calendar-r-icon {
  background: url("../img/calendar-r-icon.svg") no-repeat center / contain;
}
.close-icon {
  background: url("../img/close-icon.svg") no-repeat center / contain;
}
.delete-g-icon {
  background: url("../img/delete-g-icon.svg") no-repeat center / contain;
}
.delete-r-icon {
  background: url("../img/delete-r-icon.svg") no-repeat center / contain;
}
.dislike-g-icon {
  background: url("../img/dislike-g-icon.svg") no-repeat center / contain;
}
.dislike-r-icon {
  background: url("../img/dislike-r-icon.svg") no-repeat center / contain;
}
.down-g-icon {
  background: url("../img/down-g-icon.svg") no-repeat center / contain;
}
.down-l-icon {
  background: url("../img/down-l-icon.svg") no-repeat center / contain;
}
.edit-g-icon {
  background: url("../img/edit-g-icon.svg") no-repeat center / contain;
}
.favicon {
  background: url("../img/favicon.svg") no-repeat center / contain;
}
.filters-g-icon {
  background: url("../img/filters-g-icon.svg") no-repeat center / contain;
}
.flame-r-icon {
  background: url("../img/flame-r-icon.svg") no-repeat center / contain;
}
.friends-r-icon {
  background: url("../img/friends-r-icon.svg") no-repeat center / contain;
}
.hobby-g-icon {
  background: url("../img/hobby-g-icon.svg") no-repeat center / contain;
}
.hobby-l-icon {
  background: url("../img/hobby-l-icon.svg") no-repeat center / contain;
}
.hobby-r-icon {
  background: url("../img/hobby-r-icon.svg") no-repeat center / contain;
}
.insta-icon {
  background: url("../img/insta-icon.svg") no-repeat center / contain;
}
.like-g-icon {
  background: url("../img/like-g-icon.svg") no-repeat center / contain;
}
.like-green-icon {
  background: url("../img/like-green-icon.svg") no-repeat center / contain;
}
.like-l-icon {
  background: url("../img/like-l-icon.svg") no-repeat center / contain;
}
.like-r-icon {
  background: url("../img/like-r-icon.svg") no-repeat center / contain;
}
.list-g-icon {
  background: url("../img/list-g-icon.svg") no-repeat center / contain;
}
.list-r-icon {
  background: url("../img/list-r-icon.svg") no-repeat center / contain;
}
.mail-g-icon {
  background: url("../img/mail-g-icon.svg") no-repeat center / contain;
}
.map-r-icon {
  background: url("../img/map-r-icon.svg") no-repeat center / contain;
}
.menu-g-icon {
  background: url("../img/menu-g-icon.svg") no-repeat center / contain;
}
.message-g-icon {
  background: url("../img/message-g-icon.svg") no-repeat center / contain;
}
.message-r-icon {
  background: url("../img/message-r-icon.svg") no-repeat center / contain;
}
.microphone-l-icon {
  background: url("../img/microphone-l-icon.svg") no-repeat center / contain;
}
.microphone-r-icon {
  background: url("../img/microphone-r-icon.svg") no-repeat center / contain;
}
.more-g-icon {
  background: url("../img/more-g-icon.svg") no-repeat center / contain;
}
.note-g-icon {
  background: url("../img/note-g-icon.svg") no-repeat center / contain;
}
.note-r-icon {
  background: url("../img/note-r-icon.svg") no-repeat center / contain;
}
.note-w-icon {
  background: url("../img/note-w-icon.svg") no-repeat center / contain;
}
.ok-g-icon {
  background: url("../img/ok-g-icon.svg") no-repeat center / contain;
}
.ok-green-icon {
  background: url("../img/ok-green-icon.svg") no-repeat center / contain;
}
.phone-g-icon {
  background: url("../img/phone-g-icon.svg") no-repeat center / contain;
}
.planet-w-icon {
  background: url("../img/planet-w-icon.svg") no-repeat center / contain;
}
.plus-g-icon {
  background: url("../img/plus-g-icon.svg") no-repeat center / contain;
}
.plus-l-icon {
  background: url("../img/plus-l-icon.svg") no-repeat center / contain;
}
.plus-r-icon {
  background: url("../img/plus-r-icon.svg") no-repeat center / contain;
}
.question-g-icon {
  background: url("../img/question-g-icon.svg") no-repeat center / contain;
}
.question-team-g-icon {
  background: url("../img/question-team-g-icon.svg") no-repeat center / contain;
}
.question-team-r-icon {
  background: url("../img/question-team-r-icon.svg") no-repeat center / contain;
}
.review-r-icon {
  background: url("../img/review-r-icon.svg") no-repeat center / contain;
}
.right-icon {
  background: url("../img/right-icon.svg") no-repeat center / contain;
}
.right-w-icon {
  background: url("../img/right-w-icon.svg") no-repeat center / contain;
}
.search-g-icon {
  background: url("../img/search-g-icon.svg") no-repeat center / contain;
}
.search-l-icon {
  background: url("../img/search-l-icon.svg") no-repeat center / contain;
}
.search-w-icon {
  background: url("../img/search-w-icon.svg") no-repeat center / contain;
}
.tg-icon {
  background: url("../img/tg-icon.svg") no-repeat center / contain;
}
.trash-g-icon {
  background: url("../img/trash-g-icon.svg") no-repeat center / contain;
}
.trash-r-icon {
  background: url("../img/trash-r-icon.svg") no-repeat center / contain;
}
.up-icon {
  background: url("../img/up-icon.svg") no-repeat center / contain;
}
.user-add-icon {
  background: url("../img/user-add-icon.svg") no-repeat center / contain;
}
.user-g-icon {
  background: url("../img/user-g-icon.svg") no-repeat center / contain;
}
.user-l-icon {
  background: url("../img/user-l-icon.svg") no-repeat center / contain;
}
.user-r-icon {
  background: url("../img/user-r-icon.svg") no-repeat center / contain;
}
.video-l-icon {
  background: url("../img/video-l-icon.svg") no-repeat center / contain;
}
.video-r-icon {
  background: url("../img/video-r-icon.svg") no-repeat center / contain;
}
.view-g-icon {
  background: url("../img/view-g-icon.svg") no-repeat center / contain;
}
.view-l-icon {
  background: url("../img/view-l-icon.svg") no-repeat center / contain;
}
.view-r-icon {
  background: url("../img/view-r-icon.svg") no-repeat center / contain;
}
.view-w-icon {
  background: url("../img/view-w-icon.svg") no-repeat center / contain;
}
.vk-icon {
  background: url("../img/vk.svg") no-repeat center / contain;
}
