.svg {
  width: 20px;
  height: auto;
  aspect-ratio: 1;
}

.notFound-icon {
  background: url("../img/404-icon.svg") no-repeat center center / contain;
}
.add-icon {
  background: url("../img/add-icon.svg") no-repeat center center / contain;
}
.add-red-icon {
  background: url("../img/add-red-icon.svg") no-repeat center center / contain;
}
.add-light-icon {
  background: url("../img/add-light-icon.svg") no-repeat center center / contain;
}
.adv-grey-icon {
  background: url("../img/adv-grey-icon.svg") no-repeat center center / contain;
}
.adv-icon {
  background: url("../img/adv-icon.svg") no-repeat center center / contain;
}
.adv-light-icon {
  background: url("../img/adv-light-icon.svg") no-repeat center center / contain;
}
.articles-grey-icon {
  background: url("../img/articles-grey-icon.svg") no-repeat center center /
    contain;
}
.articles-icon {
  background: url("../img/articles-icon.svg") no-repeat center center / contain;
}
.awards-icon-1 {
  background: url("../img/awards-icon-1.svg") no-repeat center center / contain;
}
.awards-icon-2 {
  background: url("../img/awards-icon-2.svg") no-repeat center center / contain;
}
.awards-icon-3 {
  background: url("../img/awards-icon-3.svg") no-repeat center center / contain;
}
.awards-icon-4 {
  background: url("../img/awards-icon-4.svg") no-repeat center center / contain;
}
.awards-icon-5 {
  background: url("../img/awards-icon-5.svg") no-repeat center center / contain;
}
.awards-icon-6 {
  background: url("../img/awards-icon-6.svg") no-repeat center center / contain;
}
.awards-icon-7 {
  background: url("../img/awards-icon-7.svg") no-repeat center center / contain;
}
.back-icon {
  background: url("../img/back-icon.svg") no-repeat center center / contain;
}
.bookmarks-icon {
  background: url("../img/bookmarks-icon.svg") no-repeat center center / contain;
}
.bookmarks-light-icon {
  background: url("../img/bookmarks-light-icon.svg") no-repeat center center /
    contain;
}
.bookmarks-red-icon {
  background: url("../img/bookmarks-red-icon.svg") no-repeat center center /
    contain;
}
.business-icon {
  background: url("../img/business-icon.svg") no-repeat center center / contain;
}
.business-light-icon {
  background: url("../img/business-light-icon.svg") no-repeat center center /
    contain;
}
.business-red-icon {
  background: url("../img/business-red-icon.svg") no-repeat center center /
    contain;
}
.calendar-grey-icon {
  background: url("../img/calendar-grey-icon.svg") no-repeat center center /
    contain;
}
.calendar-icon {
  background: url("../img/calendar-icon.svg") no-repeat center center / contain;
}
.close-icon {
  background: url("../img/close-icon.svg") no-repeat center center / contain;
}
.delete-icon {
  background: url("../img/delete-icon.svg") no-repeat center center / contain;
}
.delete-red-icon {
  background: url("../img/delete-red-icon.svg") no-repeat center center /
    contain;
}
.dislike-icon {
  background: url("../img/dislike-icon.svg") no-repeat center center / contain;
}
.dislike-red-icon {
  background: url("../img/dislike-red-icon.svg") no-repeat center center /
    contain;
}
.down-grey-icon {
  background: url("../img/down-grey-icon.svg") no-repeat center center / contain;
}
.down-icon {
  background: url("../img/down-icon.svg") no-repeat center center / contain;
}
.edit-icon {
  background: url("../img/edit-icon.svg") no-repeat center center / contain;
}
.favicon {
  background: url("../img/favicon.svg") no-repeat center center / contain;
}
.filters-icon {
  background: url("../img/filters-icon.svg") no-repeat center center / contain;
}
.flame-icon {
  background: url("../img/flame-icon.svg") no-repeat center center / contain;
}
.friends-icon {
  background: url("../img/friends-icon.svg") no-repeat center center / contain;
}
.hobby-grey-icon {
  background: url("../img/hobby-grey-icon.svg") no-repeat center center /
    contain;
}
.hobby-light-icon {
  background: url("../img/hobby-light-icon.svg") no-repeat center center /
    contain;
}
.hobby-red-icon {
  background: url("../img/hobby-red-icon.svg") no-repeat center center / contain;
}
.insta-icon {
  background: url("../img/insta-icon.svg") no-repeat center center / contain;
}
.like-green-icon {
  background: url("../img/like-green-icon.svg") no-repeat center center /
    contain;
}
.like-icon {
  background: url("../img/like-icon.svg") no-repeat center center / contain;
}
.like-light-icon {
  background: url("../img/like-light-icon.svg") no-repeat center center /
    contain;
}
.like-red-icon {
  background: url("../img/like-red-icon.svg") no-repeat center center / contain;
}
.list-icon {
  background: url("../img/list-icon.svg") no-repeat center center / contain;
}
.list-red-icon {
  background: url("../img/list-red-icon.svg") no-repeat center center / contain;
}
.mail-icon {
  background: url("../img/mail-icon.svg") no-repeat center center / contain;
}
.map-icon {
  background: url("../img/map-icon.svg") no-repeat center center / contain;
}
.menu-icon {
  background: url("../img/menu-icon.svg") no-repeat center center / contain;
}
.message-icon {
  background: url("../img/message-icon.svg") no-repeat center center / contain;
}
.message-grey-icon {
  background: url("../img/message-grey-icon.svg") no-repeat center center /
    contain;
}
.microphone-grey-icon {
  background: url("../img/microphone-grey-icon.svg") no-repeat center center /
    contain;
}
.microphone-icon {
  background: url("../img/microphone-icon.svg") no-repeat center center /
    contain;
}
.more-icon {
  background: url("../img/more-icon.svg") no-repeat center center / contain;
}
.note-icon {
  background: url("../img/note-icon.svg") no-repeat center center / contain;
}
.note--light-icon {
  background: url("../img/note-light-icon.svg") no-repeat center center /
    contain;
}
.note-red-icon {
  background: url("../img/note-red-icon.svg") no-repeat center center / contain;
}
.ok-green-icon {
  background: url("../img/ok-green-icon.svg") no-repeat center center / contain;
}
.ok-icon {
  background: url("../img/ok-icon.svg") no-repeat center center / contain;
}
.phone-icon {
  background: url("../img/phone-icon.svg") no-repeat center center / contain;
}
.planet-icon {
  background: url("../img/planet-icon.svg") no-repeat center center / contain;
}
.plus-icon {
  background: url("../img/plus-icon.svg") no-repeat center center / contain;
}
.plus-light-icon {
  background: url("../img/plus-light-icon.svg") no-repeat center center /
    contain;
}
.plus-red-icon {
  background: url("../img/plus-red-icon.svg") no-repeat center center / contain;
}
.question-icon {
  background: url("../img/question-icon.svg") no-repeat center center / contain;
}
.question-team-icon {
  background: url("../img/question-team-icon.svg") no-repeat center center /
    contain;
}
.question-team-red-icon {
  background: url("../img/question-team-red-icon.svg") no-repeat center center /
    contain;
}
.review-icon {
  background: url("../img/review-icon.svg") no-repeat center center / contain;
}
.right-icon {
  background: url("../img/right-icon.svg") no-repeat center center / contain;
}
.right-light-icon {
  background: url("../img/right-light-icon.svg") no-repeat center center /
    contain;
}
.search-grey-icon {
  background: url("../img/search-grey-icon.svg") no-repeat center center /
    contain;
}
.search-light-icon {
  background: url("../img/search-light-icon.svg") no-repeat center center /
    contain;
}
.search-icon {
  background: url("../img/search-icon.svg") no-repeat center center / contain;
}
.tg-icon {
  background: url("../img/tg-icon.svg") no-repeat center center / contain;
}
.trash-icon {
  background: url("../img/trash-icon.svg") no-repeat center center / contain;
}
.trash-red-icon {
  background: url("../img/trash-red-icon.svg") no-repeat center center / contain;
}
.up-icon {
  background: url("../img/up-icon.svg") no-repeat center center / contain;
}
.user-add-icon {
  background: url("../img/user-add-icon.svg") no-repeat center center / contain;
}
.user-grey-icon {
  background: url("../img/user-grey-icon.svg") no-repeat center center / contain;
}
.user-icon {
  background: url("../img/user-icon.svg") no-repeat center center / contain;
}
.user-red-icon {
  background: url("../img/user-red-icon.svg") no-repeat center center / contain;
}
.video-grey-icon {
  background: url("../img/video-grey-icon.svg") no-repeat center center /
    contain;
}
.video-icon {
  background: url("../img/video-icon.svg") no-repeat center center / contain;
}
.view-icon {
  background: url("../img/view-icon.svg") no-repeat center center / contain;
}
.view-light-icon {
  background: url("../img/view-light-icon.svg") no-repeat center center /
    contain;
}
.view-red-icon {
  background: url("../img/view-red-icon.svg") no-repeat center center / contain;
}
.vk {
  background: url("../img/vk.svg") no-repeat center center / contain;
}
