.about {
}
.about__container {
  border-radius: 8px;
  padding: 48px 64px;
  background-color: #fff;
}

img:not(picture img) {
  aspect-ratio: 1;
  width: 47%;
  object-fit: contain;
  border-radius: 8px;
  height: auto;
  background: #808080a3;
}

img {
}

.container {
}
.about__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 32px;
  line-height: 41px;
  color: #2b2b2b;
}

.about__img {
  aspect-ratio: initial;
  width: 75%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.about__text {
  max-width: 75%;
  margin: 0;
  color: #5b5b5b;
  font-size: 16px;
  line-height: 24px;
}
