@media (max-width: 820px) {
  main {
    padding: 0;
  }
  .post__body {
    padding: 30px 40px;
  }
  .video__list {
    justify-content: space-between;
  }

  .video__item {
    width: 43%;
  }

  .about__list-photo {
  }
}
@media (max-width: 790px) {
  .post__head {
    flex-direction: column;
    align-items: flex-start;
  }

  .post__head-wrapp {
    flex-direction: row;
    align-items: center;
  }
  .post__picture,
  .post__text {
    width: 100%;
  }

  .about__item-photo:last-child {
    font-size: 14px;
  }
}

@media (max-width: 660px) {
  .video__list {
    flex-direction: column;
    gap: 32px;
  }

  .video__item {
    width: 100%;
  }

  .video__picture img {
    height: auto;
  }

  .about__list-photo {
    justify-content: flex-start;
  }
}

@media (max-width: 520px) {
  main {
    padding: 0;
  }

  .container__post {
    position: relative;
    margin: 0;
    padding: 0;
  }

  .post__link {
    position: absolute;
    top: 20px;
    left: 26px;
    font-size: 0;
  }

  .back-svg {
    width: 36px;
    height: 36px;
  }

  .post__link path {
    fill: #fff;
  }

  .post__body {
    padding: 40px 30px;
  }

  .post__body--desktop {
    display: none;
  }

  .post__body--mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 390px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.75) 113.61%
      ),
      url("../../img/apperance-img-8.jpg") no-repeat center center / cover;
    padding: 24px 30px;
  }

  .post__head--mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .post__list-m {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px 16px;
  }

  .post__item-m {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .post-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 17px 25px;
    margin-bottom: 40px;
    background-color: var(--color-text-red);
    border-radius: 8px;
    color: #fff;
  }

  .post-btn path {
    fill: #fff;
  }

  .post__item-m path {
    fill: var(--color-text-red);
  }

  .post__subtitle {
    margin: 0;
    margin-bottom: 12px;
  }

  .user-svg path {
    fill: var(--color-text-red);
  }

  .post__wrapp-desc {
    display: flex;
    gap: 8px;
    align-items: flex-start;
  }

  .post__desc {
    margin: 0;
    display: flex;
    flex: 1;
  }
}

@media (max-width: 460px) {
  .post__body--mobile {
    padding: 24px 16px;
  }

  .post__link {
    top: 24px;
    left: 12px;
  }

  .post__body {
    padding: 24px 16px;
  }
}
