@media (max-width: 1050px) {
  .events__entrant:nth-child(-n + 3),
  .appearance__entrant:nth-child(-n + 3) {
    display: none;
  }
}

@media (max-width: 860px) {
  .events__body-wrapp,
  .appearance__body-wrapp {
    gap: 32px;
  }

  .events__list-entrant,
  .appearance__list-entrant {
    display: none;
  }

  .article__item {
    position: relative;
  }

  .article__status {
    position: absolute;
    top: 5px;
    left: 5px;
  }
}

@media (max-width: 790px) {
  .events__decr-wrapp,
  .appearance__decr-wrapp {
    flex-direction: column;
    align-items: flex-start;
  }

  .events__place-info,
  .appearance__place-info {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .profile .lk__body {
    padding: 35px 42px;
  }

  .lk__wrapp {
    flex-direction: column;
  }

  .lk__img,
  .lk__photo-wrapp {
    width: 100%;
  }

  .lk__aside {
    padding: 35px;
  }

  .lk__progressbar {
    margin-bottom: 25px;
  }

  .lk__list-progress {
    gap: 10px;
  }

  .lk__text-progress {
    white-space: pre-line;
  }

  .events__picture img,
  .appearance__picture img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    aspect-ratio: 1.3;
  }
}

@media (max-width: 690px) {
  .events__body-wrapp,
  .appearance__body-wrapp {
    flex-direction: column;
  }

  .events__list-wrapp,
  .appearance__list-wrapp {
    justify-content: space-between;
  }

  .events__item-wrapp:nth-child(3),
  .appearance__item-wrapp:nth-child(3) {
    display: none;
  }

  .events__picture,
  .appearance__picture {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    border-radius: 12px;
  }

  .events__picture img,
  .appearance__picture img {
    width: 100%;
  }

  .events__picture-caption,
  .appearance__picture-caption {
    position: absolute;
    gap: 5px;
    display: flex;
    align-items: center;
    left: 5%;
    bottom: 5%;
    color: #fff;
    font-size: 14px;
  }

  .wrapp {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 113.61%
    );
    pointer-events: none;
    border-radius: 8px;
  }

  .events__place-info,
  .appearance__place-info {
    margin: 0;
  }
  .hide--mobile {
    display: none;
  }

  .events__decr-wrapp,
  .appearance__decr-wrapp {
    flex-direction: row;
    align-items: center;
  }

  .article__info-stat {
    flex-wrap: wrap;
  }

  .article__desc,
  .article__data {
    width: 100%;
  }

  .article__item {
    flex-direction: column;
  }

  .article__picture {
    position: relative;
  }

  .article__picture,
  .article__picture img {
    width: 100%;
    object-fit: cover;
  }

  .article__picture img {
    aspect-ratio: 1.6;
  }

  .article__status {
    top: 10px;
    left: 10px;
  }

  .article .lk__body {
    padding: 24px;
  }

  .appearance__caption-wrap {
    position: absolute;
    display: block;
    gap: 5px;
    display: flex;
    align-items: center;
    left: 5%;
    bottom: 5%;
    font-size: 14px;
  }

  .appearance__caption-text {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

@media (max-width: 640px) {
  main {
    padding: 0;
  }

  .lk__container {
    background-color: #fff;
    margin: 0;
    padding: 30px 45px;
    border-radius: 8px;
  }

  .lk__title {
    display: none;
  }

  .lk__nav-list {
    display: none;
  }

  .article__nav-list {
    margin-bottom: 4px;
  }

  .lk__content {
    flex-direction: column-reverse;
  }

  .lk__aside {
    width: 100%;
    padding: 0;
  }

  .lk__text-progress {
    white-space: nowrap;
  }
  .lk__item-progress .svg {
    display: none;
  }

  .profile .lk__body {
    padding: 0;
  }

  .lk__aside-desktop {
    display: flex;
  }

  /* nav bar witch border-bottom */

  .lk__list-progress {
    white-space: nowrap;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 20px;
  }

  .lk__list-progress::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e0e0e0;
  }

  .lk__item-progress {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding-bottom: 16px;
    cursor: pointer;
  }

  .lk__item-progress.active {
    color: #2b2b2b;
    font-weight: 700;
  }

  .lk__item-progress::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #d8481a;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease;
    z-index: 10;
  }

  .lk__item-progress.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .lk__item-progress:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* end nav bar */

  .lk__list-progress {
    overflow-x: scroll;
    flex-direction: row;
    gap: 20px;
    /* scrollbar-width: none;
    -ms-overflow-style: none;  */
  }

  .lk__list-progress::-webkit-scrollbar {
    display: none;
  }

  .lk__aside-mobile {
    display: none;
    overflow: auto;
  }

  .lk__progressbar {
    display: none;
  }

  .lk__btn {
    width: 100%;
    max-width: none;
    justify-content: center;
  }

  .appearance__item {
    padding: 0;
  }

  .events__title {
    display: none;
  }

  .appearance__title {
    display: none;
  }

  .events .article__nav-list {
    display: flex;
  }

  .appearance .article__nav-list {
    display: flex;
  }

  .events__item,
  .apperance__content,
  .article__content-list {
    padding: 24px 0;
  }

  .events.active .tab-content {
    display: none;
    opacity: 0;
  }

  .events.active .tab-content.active {
    display: flex;
    opacity: 1;
  }

  .appearance.active .tab-content {
    display: none;
    opacity: 0;
  }

  .appearance.active .tab-content.active {
    display: flex;
    opacity: 1;
  }

  .article .lk__body {
    padding: 0px;
  }
}

@media (max-width: 520px) {
  .lk__container {
    padding: 30px;
  }
}
