@media (max-width: 1400px) {
  .article__list,
  .video__list {
    overflow: scroll;
  }
}

@media (max-width: 1200px) {
  .residents {
    background-color: #1f1f1f;
  }

  .event {
    background-color: #fff;
  }

  .residents__container::after,
  .event__container::after {
    display: none;
  }
}

@media (max-width: 1050px) {
  .news,
  .residents,
  .article,
  .video {
    margin-bottom: 46px;
  }

  .residents__container {
    /* padding: ; */
  }

  .event__list.right .event__item:nth-child(-n + 3) {
    display: none;
  }

  .video {
    padding-bottom: 0;
  }
}

@media (max-width: 850px) {
  .event__container {
    padding: 24px 40px 10px;
  }

  .event__info {
    font-size: 12px;
    white-space: nowrap;
  }

  .event__slogan {
    display: none;
  }

  .event__list-molile {
    display: flex;
    gap: 15px;
    overflow-y: auto;
  }

  .event__body-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 220px;
    padding: 15px;
    border-radius: 8px;
  }

  .event__item-mobile:nth-child(1) .event__body-mobile {
    background: url("../../img/poster-img-7.png") no-repeat center center /
      cover;
  }

  .event__item-mobile:nth-child(2) .event__body-mobile {
    background: url("../../img/poster-img-8.png") no-repeat center center /
      cover;
  }

  .event__item-mobile:nth-child(3) .event__body-mobile {
    background: url("../../img/poster-img-9.png") no-repeat center center /
      cover;
  }

  .event__wrapp-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .event__subtitle {
    color: #2b2b2b;
  }

  .event__body-mobile .event__item {
    background: none;
    outline: 1px solid #ababab;
  }

  .event__main-card .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .event__main-card {
    flex: 320px 0 0;
    align-items: normal;
  }

  .event__main-card {
    position: relative;
    height: 220px;
    padding: 18px;
  }

  .event__btn {
    width: max-content;
  }

  .event__list.right {
    position: absolute;
    bottom: 18px;
    right: 18px;
  }

  .event__link {
    display: none;
  }

  .article__list {
    flex-direction: column;
  }

  .event__body {
    display: none;
    /* flex-direction: row;
    overflow: scroll;
    gap: 15px; */
  }
}

@media (max-width: 790px) {
  .news__list-cards {
    flex-direction: column;
  }

  .news__list-cards .news__card-item {
    width: 100%;
  }

  .news__card-item:nth-child(n + 2) {
    margin-bottom: 20px;
  }

  .news__card-item:nth-child(1) {
    height: auto;
    padding: 0;
    background: none;
    justify-content: flex-start;
  }

  .news__card-item:nth-child(1):before {
    position: relative;
    content: "";
    width: 100%;
    height: 240px;
    margin-bottom: 12px;
    border-radius: 8px;
  }

  .card-item:nth-child(1):before {
    content: "";
    width: 100%;
    height: auto;
    aspect-ratio: 1.6 / 1;
    margin-bottom: 12px;
    border-radius: 8px;
  }

  .card-list {
    gap: 20px;
  }

  .card-list:nth-child(1) .card-item:nth-child(1):before {
    background: url("../../img/poster-img-1.png") no-repeat center center /
      cover;
  }
  .card-list:nth-child(1) .card-item:nth-child(2):before {
    background: url("../../img/poster-img-2.png") no-repeat center center /
      cover;
  }
  .card-list:nth-child(1) .card-item:nth-child(3):before {
    background: url("../../img/poster-img-3.png") no-repeat center center /
      cover;
  }
  .card-list:nth-child(2) .card-item:nth-child(1):before {
    background: url("../../img/poster-img-4.png") no-repeat center center /
      cover;
  }
  .card-list:nth-child(2) .card-item:nth-child(2):before {
    background: url("../../img/poster-img-5.png") no-repeat center center /
      cover;
  }
  .card-list:nth-child(2) .card-item:nth-child(3):before {
    background: url("../../img/poster-img-6.png") no-repeat center center /
      cover;
  }
  .card-list:nth-child(3) .card-item:nth-child(1):before {
    background: url("../../img/poster-img-4.png") no-repeat center center /
      cover;
  }
  .card-list:nth-child(3) .card-item:nth-child(2):before {
    background: url("../../img/poster-img-5.png") no-repeat center center /
      cover;
  }
  .card-list:nth-child(3) .card-item:nth-child(3):before {
    background: url("../../img/poster-img-6.png") no-repeat center center /
      cover;
  }

  .card-item:nth-child(1) .span-teg {
    position: absolute;
    width: max-content;
    top: 13px;
    padding: 4px 5px;
    font-size: 15px;
  }

  .card-item:nth-child(n + 2) .span-teg {
    position: relative;
    display: block;
    width: max-content;
    margin-bottom: 5px;
    top: 0;
    left: 0;
    padding: 4px 5px;
    font-size: 12px;
  }

  .card-item:nth-child(n + 2):before {
    position: absolute;
    width: 180px;
    height: auto;
    aspect-ratio: 1.6 / 1;
    top: 0;
    right: 0;
  }

  .card-item:nth-child(1) .subtitle {
    max-width: 325px;
    font-size: 18px;
  }

  .card-item:nth-child(n + 2) .subtitle {
    max-width: 230px;
    margin-bottom: 18px;
  }

  .card-item .date,
  .card-item .view,
  .card-item .like,
  .card-item .bookmark {
    font-size: 12px;
  }

  .news__list-cards {
    gap: 20px;
  }

  .article__list,
  .video__list {
    overflow: auto;
    flex-direction: column;
  }

  .video__list {
    flex-direction: column;
  }

  .card-item:nth-child(n + 2) .video__video {
    position: absolute;
    width: 180px;
    aspect-ratio: 1.6 / 1;
    height: auto;
    top: 0;
    right: 0;
  }

  .card-item:nth-child(n + 2) .video__video::after {
    display: none;
  }

  .video__card-item {
    padding-bottom: 0;
  }
}

@media (max-width: 490px) {
  .card-item:nth-child(n + 2):before,
  .card-item:nth-child(n + 2) .video__video {
    width: 150px;
  }
}

@media (max-width: 460px) {
  .news {
    margin-bottom: 28px;
  }

  .card-item:nth-child(n + 2):before,
  .card-item:nth-child(n + 2) .video__video {
    width: 125px;
    height: auto;
  }

  .wrapp-link {
    font-size: 0;
  }

  .wrapp-link span {
    font-size: 18px;
  }

  .wrapp__title {
    margin-bottom: 20px;
  }

  .title {
    font-size: 23px;
  }
  /* временный */
  .news__span-teg {
    top: 13px;
  }

  .span-teg {
    padding: 6px 10px;
  }

  .residents {
    margin-bottom: 25px;
    background-color: #1f1f1f;
  }

  .residents__container {
    padding: 20px 0 20px;
  }

  .residents__img {
    width: 200px;
  }

  .residents__list {
    overflow: scroll;
    gap: 16px;
  }

  .residents__subtitle {
    margin-bottom: 12px;
    line-height: 23px;
  }

  .residents__link {
    display: none;
  }

  .desc {
    margin-bottom: 5px;
    line-height: 16px;
  }

  .info {
    margin: 0;
    font-size: 12px;
  }

  .article {
    margin-bottom: 28px;
  }

  .article__subtitle {
    font-size: 16px;
  }
  .article__card-item:nth-child(n + 2) .subtitle {
    margin-bottom: 0;
  }

  .article__name {
    font-size: 12px;
    margin-bottom: 8px;
  }

  .event {
    background-color: #fff;
  }

  .event__container {
    padding: 25px 0;
  }

  .video {
    margin-bottom: 16px;
    padding-bottom: 16px;
  }
}

@media (max-width: 325px) {
  .card-item:nth-child(n + 2) .subtitle {
    max-width: 170px;
  }
}
