.video__info-stat .video__like,
.video__info-stat .video__bookmark {
  display: none;
}

.video__head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.video__content {
  border-radius: 8px;
  background-color: #fff;
  flex-direction: column;
  padding: 48px 64px;
}

.video__select-sort {
  margin: 0;
  display: flex;
  gap: 12px;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
}

.video__form-wrapp {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 32px;
}

.form {
}

.form__label {
  position: relative;
  flex: auto 1 1;
  display: flex;
  gap: 8px;
  padding-left: 8px;
  background-color: #5b5b5b;
  border-radius: 8px;
  transition: 0.3s ease background-color;
}

.form__label:hover {
  background-color: #767676;
}

.search-svg path {
  fill: #ababab;
}

.down-svg path {
  fill: #e0e0e0;
}

.form__input {
  padding: 10px 0;
  border: none;
  background-color: transparent;
  outline: none;
  color: #e0e0e0;
}

.form__select {
  background-color: #5b5b5b;
  padding: 10px 8px;
  min-height: 44px;
  border: none;
  outline: none;
  line-height: 22px;
  border-radius: 8px;
  color: #e0e0e0;
}

.form__label {
}

.form__input {
  width: 100%;
}

.form__input::placeholder {
  color: #e0e0e0;
  font-size: 16px;
}

.form__input:placeholder-shown {
  overflow: hidden;
  text-overflow: ellipsis;
}

.video__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 36px;
  margin-bottom: 48px;
}

.video__item {
  width: 47%;
}

.video__link {
  text-decoration: none;
}

.video__picture {
  margin-bottom: 12px;
  display: flex;
  width: 100%;
  height: auto;
  font-size: 0;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
}

.video__picture::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 40px;
  background: url("../../img/yt-icon.png") no-repeat center center / cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video__picture img {
  width: auto;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
}

.video__decr-wrapp {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.video__decr-span {
  margin: 0;
  color: #ababab;
  font-size: 14px;
  line-height: 20px;
}

.video__subtitle {
  margin: 0;
  margin-bottom: 4px;
  color: #2b2b2b;
  font-size: 20px;
  line-height: 25px;
}

.video__text {
  margin: 0;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  color: #5b5b5b;
}

.video__info-stat {
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: #2b2b2b;
  font-size: 14px;
  line-height: 20px;
}

.video__data {
  margin: 0;
}

.video__view {
}

.video__like {
}

.video__data,
.video__view,
.video__like,
.video__bookmark {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.view-svg path,
.like-svg path,
.bookmark-svg path {
  fill: #ababab;
}

.video__bookmark {
}

.pagination__wrapp-list,
.pagination__list-inner {
  display: flex;
  flex-direction: row;
}

.pagination__wrapp-list {
  gap: 12px;
}

.pagination__list-inner {
  gap: 8px;
}

.pagination__list-inner .pagination__item {
  background-color: #f0f0f0;
  border-radius: 4px;
  color: #5b5b5b;
  padding: 7px 13px;
}

.pagination__list-inner .pagination__item:hover {
  background-color: #e0e0e0;
  color: #2b2b2b;
}

.pagination-list {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.pagination__item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.pagination-prev svg path {
  fill: #ababab;
}

.pagination-next svg path {
  fill: #ababab;
}
